project = "infra-111111"
public_key_path = "~/.ssh/appuser.pub"
public_key_path_appuser1 = "~/.ssh/appuser.pub"
public_key_path_appuser2 = "~/.ssh/appuser.pub"
disk_image = "reddit-base"
private_key_path = "~/.ssh/appuser"
